body {
    background-color: rgb(58, 58, 58);
}
/*
 --------------- TOP CONTROLS --------------- 450 325
*/

#div_top_controls_open {
    position:absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;

}

#div_controls_button_volume {
    width: 40px;
    position:absolute;
    top: 0px;
    left: 210px;
    right: 0;
    bottom: 0;
}

#div_controls_slider_volume {
    width: 210px;
    position:absolute;
    top: 10px;
    left: 260px;
    right: 0;
    bottom: 0;
}

#slider_volume {
    -webkit-appearance: none;
    appearance: none;
    width: 125px;
    height: 25px;
    background: rgb(75, 75, 75);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px;
    margin-top: 10px;
}

#slider_volume:hover {
    opacity: 1;
}

#slider_volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(150, 150, 150);
    cursor: pointer;
}

#label_volume {
    color:rgb(203, 219, 252);
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 160px;
}





/*
 --------------- SONG LIST ---------------
*/

#div_song_list {
    width: 450px;
    position:absolute;
    top: 68px;
    left: 10px;
    right: 0;
    bottom: 0;
}

#select_song_list {
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: rgb(203, 219, 252);
    position:absolute;
}

#select_song_list:focus {
    outline: none;
}
/*
 --------------- SONG POSITION SLIDER ---------------
*/

#slider_song_position {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 450px;
    height: 25px;
    background: rgb(75, 75, 75);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    top: 232px;
    left: 7px;
    right: 0;
    bottom: 0;
}

#slider_song_position:hover {
    opacity: 1;
}

#slider_song_position::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(150, 150, 150);
    cursor: pointer;
}

#label_song_position {
    position: absolute;
    color:rgb(203, 219, 252);
    top: 262px;
    left: 5px;
    right: 0;
    bottom: 0;
    left: 325px;

}

/*
 --------------- BOTTOM CONTROLS ---------------
*/

#div_controls_button_play_pause {
    width: 175px;
    position:absolute;
    top: 270px;
    left: 10px;
    right: 0;
    bottom: 0;
}

#checkbox_autoplay {
    position: absolute;
    top: 300px;
    left: 200px;
    width: 24px;
    height: 24px;
}

#label_autoplay {
    color:rgb(203, 219, 252);
    position: absolute;
    font-size:20px;
    top: 303px;
    left: 235px;
}

#checkbox_loop {
    position: absolute;
    top: 300px;
    left: 325px;
    width: 24px;
    height: 24px;
}

#label_loop {
    color:rgb(203, 219, 252);
    position: absolute;
    font-size:20px;
    top: 303px;
    left: 360px;  
}



/*
 --------------- SCROLLBAR STYLING ---------------
*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background:rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}